<h1>Update your info!</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= f.text_field :city, placeholder: "City" %>
  </div>
  <div>
    <%= f.text_field :state, placeholder: "State" %>
  </div>
  <%= f.submit "Save Changes" %>
<% end %>
