<div class="center">
  <div class="profile_image">
    <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="" class="circle responsive-img" width="200" height="200"></img>
  </div>
  <span class="profile_name">
    <%= @user.first_name %> <%= @user.last_name %><br></span>
  <span class="location_name"><%= @user.city %>, <%=@user.state %><br></span>
  <div>
    <p> <%= link_to "Browse Cities", cities_path %>
</div>
<% @user.posts.each do |f| %>
<div class="col s12 m7 profile_card">
  <div class="card small horizontal">
    <div class="card-image">
      <img src="http://www.indypendent.org/wp-content/photos/page14_kunstler.jpg"> <!-- TODO: tie this to @user.image in ruby -->
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4> <%= f.title %> </h4>
        <p><%= f.text %></p>
      </div>
    </div>
  </div>
</div>
<% end %>
