
<div class="col s12 m7 profile_card">
  <div class="p_card">
  </div>
  <div class="card small horizontal">
    <div class="card-image">
      <img src="http://www.indypendent.org/wp-content/photos/page14_kunstler.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p><%= @post.text %></p>
      </div>
      <div class="card-content">
        <p><div class="chip">
    <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="Contact Person">
    <%= @post.user.first_name %> <%= @post.user.last_name%></p>

  </div>
      </div>
      <div class="card-action">
        <a><%= @post.title %></a>
      </div>
      <div class="card-action">
        <a href="#"><i class="small material-icons">delete</i></a>
        <%= link_to edit_city_post_path do %>
          <i class="small material-icons">mode_edit</i>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="edit_post"
</div>
