
<div class="col s12 m7 top">
  <div>
  </div>
  <div class="card small horizontal color">
    <div class="card-image">
      <img src=<%= @city.image %>>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4><%= @post.title %></h4>
        <p><%= @post.text %></p>
      </div>
      <div class="card-content">
        <div class="chip">
          <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="Contact Person">
          <%= @post.user.first_name %> <%= @post.user.last_name%></p>
        </div>
         Member Since:  <%= @post.user.created_at.strftime("%d %b. %Y") %>
      </div>
      <% if current_user_is_owner? %>
      <div class="card-action" id="delete_edit">
        <%= link_to edit_post do %>
          <i class="small material-icons">mode_edit</i>
        <% end %>
        <%= link_to @post, method: :delete, data: { confirm: "Are you sure you want to delete #{@post.title}?" } do %>
          <i class="small material-icons">delete</i>
        <% end %>
        <span id="back">
          <%= link_to "Back to #{@city.city}", city_path(@city), class: 'link-to-text-color' %>
        </span>
      </div>
    </div>
  </div>
</div>
