
<div class="col s12 m7">
  <div>
  </div>
  <div class="card small horizontal">
    <div class="card-image">
      <img src="http://www.indypendent.org/wp-content/photos/page14_kunstler.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p><%= @post.text %></p>
      </div>
      <div class="card-content">
        <p><div class="chip">
          <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="Contact Person">
          <%= @post.user.first_name %> <%= @post.user.last_name%></p>
        </div>
      </div>
      <div class="card-action">
        <a><%= @post.title %></a>
      </div>
      <div class="card-action" id="delete_edit">
        <%= link_to edit_city_post_path do %>
        <i class="small material-icons">mode_edit</i>
        <% end %>
        <%= link_to raw('<i class="small material-icons">delete</i>'), delete_city_post_path, method: :delete, data: { confirm: "Are you sure you want to delete #{@post.title}?" } %>
        <span id="back">
          <%= link_to "Back to City", city_path(@city) %>
        </span>
      </div>
    </div>
  </div>
</div>
