<<<<<<< Updated upstream
<div class="intro">
  <h1 class="white-text text-lighten-5">Welcome to <%= @city.city %></h1>
      <img class="responsive-image" src=<%= @city.image %>>
      <h1 class="black-text text-lighten-5">Welcome to <%= @city.city %></h1>
  </div>
=======
<div class="container">
    <div class="intro deep-orange lighten-2 z-depth-1">
      <img class="jumbotron responsive-image" src=<%= @city.image %>>
      <h1 class="white-text text-lighten-5">Welcome to <%= @city.city %></h1>
  </div
</div>
>>>>>>> Stashed changes
<br>
<div class="post center">
  <%= link_to "Add new post!", new_city_post_path(@city.id), method: :get, :class => "waves-effect waves-light btn" %>
  <% @city.posts.reverse_each do |post| %>
    <div class="col s6 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= link_to "#{post.title}", city_post_path(@city, post.id) %></span>
          <p><%= post.text %>
          <p>-<%= post.user.first_name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
