<!DOCTYPE html>
<html>
  <head>
    <title>VagabondApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="main">

    <div class="header">
      <%= render 'layouts/header' %>
    </div>


    <% flash.each do |name, msg| %>
    <div id="card-alert" class="card green lighten-5">
      <div class="card-content green-text">
        <%= msg %>
      </div>
    </div>
      <% end %>


            <%= yield %>


  </body>
</html>
